# Global Agent Configuration
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = ""
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false

# Output Plugins
[[outputs.influxdb_v2]]
  urls = ["http://10.0.250.20:30086"]
  database = "influxDB"
  bucket = "telegraf"
  username = "administrator"
  password = "ch468744gz"

# Input Plugins
[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.mem]]

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  container_name_include = []
  timeout = "5s"
  perdevice_include = []
  total = false
